// colors
$color-neutral-300: #3b4363;
$color-neutral-200: #606e85;
$color-neutral-100: #fff;

$color-accent-100: #2a46c0;

$gradient-accent-100: #4865f4, #5671f5;
$gradient-accent-200: #ec9e0e, #eca922;
$gradient-accent-300: #dc2e4e, #dd405d;

$gradient-bg: #1f3756, #141539;

// font sizes